/*Reset Styling*/
@import "reset_css.css";
@import "jquery-ui.css";


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}


.nav {
  background: linear-gradient(to left, #14a2ba, #125d72);
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.nav li {
  display: inline-block;
  height: 50px;
  line-height: 40px;
  font-size: 18px;
  color: #efe62f;
  margin-left: 20px;
  border-bottom: 10px solid transparent;
  padding: 5px 10px;
  cursor: pointer;
}

.nav li:hover {
  border-bottom: 7px solid #efe62f;
}

.user_profile>span {
  display: inline-block;
  height: 50px;
  line-height: 40px;
  font-size: 18px;
  color: #efe62f;
  margin-right: 20px;
  padding: 5px 10px;
  cursor: default;
}
.user_profile:hover>span {
  background-color: rgba(0,0,0, .2);
}

.user_profile:hover>#user_option{
  display: block;
}
/*
.user_profile > *:not(span) {
  cursor: auto;
}
*/

#user_option {
  display: none;
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: white;
  z-index: 100;
  color: black;
  font-size: 16px;
  border: 1px solid grey;
  border-top: none;
  border-radius: 0 0 5px 5px;
  transition: height 2s;
  padding: 0 10px 10px 10px;
}

.user_profile_button {
  margin-top: 10px;
  width: 90px;
  border: 1px solid grey;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
  background-color: white;
  font-size: 18px;
}
.user_profile_button:hover {
  background-color: lightgrey;
}

.profile_box {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  z-index: 999999;
}

.profile_modal {
  position: absolute;
  width: 430px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#profile_images {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: crimson;
  border-radius: 50%;
}

#profile_details {
  position: relative;
}

#profile_details span {
  position: absolute;
  left: 80px;
}

#reset_password_button {
  font-size: 15px;
}

#reset_password {
  width: 400px;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid grey;
  padding: 5px;
}

#reset_password label {
  font-size: 14px;
  margin-bottom: 5px;
}
#reset_password input {
  font-size: 14px;
  width: 200px;
  margin-bottom: 5px;
}

.curr_nav {
  background-color: rgba(0,0,0, .2);
}

.change_pass_form {
  display: none;
  width: 400px;
  /* height: 200px; */
  padding: 15px;
  border: 1px solid lightslategrey;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.change_pass_form input {
  width: 90%;
  font-size: 18px;
}

.change_pass_form button {
  font-size: 18px;
  border-radius: 3px;
}


.map {
  width: 100%;
  height: calc(100% - 50px);
  position: absolute;
  top: 50px;
  left: 0;
  background-color: honeydew;
}

.mapdisp {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px;
  transform: translate(-50%, -50%);
  background-color: honeydew;
}

.sa {
  position: fixed;
  top: 100px;
  left: 10px;
  z-index: 2;
}
.sa h2 {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
}

.sa h2 i {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.saSelect {
  display: none;
  font-size: 16px;
  font-weight: normal;
  height: 20em;
  width: 100%;
  overflow-y: scroll;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.saItems {
  padding: .5em;
  background-color: white;
  cursor: pointer;
}

.saItems:hover {
  background-color: lightslategrey;
}


#jatim_map {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.reg {
  fill:#8BC34A;
}
.city {
  fill:#F44336;
}

.sub {
    fill:#1976D2;
}
/*
.cls:hover, .group:hover .reg {
  stroke: #002868;
  stroke-width:10px;
  stroke-linejoin: round;
} */

.hovered, .hovered > .reg{
  fill:#C5E1A5;
}
.hovered > .city {
  fill:#EF9A9A;
}
.hovered.sub {
  fill:#64B5F6;
}

.map2 {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: all .5s linear;
  transition: all 0.5s linear;
}

.map2disp {
  width: 60%;
  height: 60%;
  background-color: rgba(200,200,200,.5);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -webkit-transition: all .5s linear;
  transition: all 0.5s linear;
}

#Surabaya_XL {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


#infobox {
  display: none;
  position: absolute;
  font-size: 16px;
  top: 0px;
  left: 0px;
  z-index: 5;
  color: white;
  background-color: #2196F3;
  border-radius: 5px 5px 5px 0;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#infobox::after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: #2196F3;
	border-bottom: 0;
	border-left: 0;
	margin-bottom: -5px;
}

.workspace {
  display: none;
  width: 100%;
  height: calc(100% - 50px);
  position: absolute;
  top: 50px;
  left: 0;
  background-color: rgba(68, 67, 67, .5);
  z-index: 10;
}

.Areaname {
  grid-area: Areaname;
}
.export {
  grid-area: export;
  padding-bottom: 10px;
}
#EXPORT_ {
  font-size: 20px;
}
.export_box select {
  width: 100px;
}
.tahun, .bulan {
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.sorek_pemakaian {
  grid-area: sorek_pemakaian;
}
.sorek_pemakaian button {
  width: 200px;
  margin-bottom: 20px;
}
.minmax {
  grid-area: minmax;
  padding-bottom: 10px;
}
.minmax_box {
  width: 150px;
  float: left;
  display: flex;
  flex-flow: column;
  margin-right: 5px;
}
.minmax_box * {
  margin: 0 auto;
}
.minmax_box input {
  margin-bottom: 5px;
}
.minmax_box input[type=number] {
  width: 50px;
}
.minmax_box button {
  width: 150px;
}

.export_turun {
  grid-area: export_turun;
  padding-bottom: 10px;
}
.export_turun input[type=number]{
  width: 50px;
}
.chartProp {
  grid-area: chartProp;
}
.chartProp input, .chartProp button {
  width: 150px;
}
.chartProp input[type=number]::-webkit-outer-spin-button,
.chartProp input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.cust_details {
  grid-area: chart;
  padding: 5px;
}

.cust_tools {
  height: 40px;
}

.cust_table {
  height: calc(100% - 40px);
  overflow: scroll;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
}
.cust_table thead {
  background-color: #14a2ba;
  color: white;
}
.cust_table tr {
  border: 1px solid grey;
}
.cust_table td {
  padding: 3px;
}
.cust:hover {
  background-color: lightgrey;
}

#cari_cust {
  font-size: 14px;
  padding: 3px 10px 3px 30px;
  line-height: 16px;
  border-radius: 16px;
  margin-left: 10px;
  border: 1px solid lightgrey;
  width: 200px;
}

#cari_cust_logo {
  margin-left: -192px;
}



.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: repeat(7 ,1fr);
  grid-template-areas:
  "Areaname chart"
  "export chart"
  "sorek_pemakaian chart"
  "minmax chart"
  "export_turun chart"
  "chartProp chart"
  ". chart";
  box-sizing: border-box;
  padding: 40px 10px;
}

.wrapper button, .wrapper select, .wrapper input {
  font-size: 16px;
  border-radius: 3px;
}

.close {
  padding: 5px;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
}


.Areaname {
  padding: 5px;
  font-weight: 700;
  font-size: 25px;
}

.chart {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.chart_box {
  background-color: white;
  position: fixed;
  top: 150px;
  right: 50px;
  padding: 5px;
}

.chart_real {
  width: 60vw;
  height: 60vh;

}

/*.chart button {
  position: absolute;
  bottom: -30px;
}
*/